{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
         <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">


</head>
<body>
     <div class="logo">
            
            <img src="{% static 'css/lengua-senas.png' %}" alt="Logo lengua de señas">
        </div>

    <div class="login-container">
        

        <div class="login-box">
            <h2>INICIE SESIÓN</h2>
            <form method="POST">
                {% csrf_token %}
                <label for="username">Nombre de usuario:</label>
                <input type="text" name="username" placeholder="Username" class="form-control">

                <label for="password">Ingrese su contraseña</label>
                <input type="password" name="password" placeholder="**********" class="form-control">

                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
</body>

</html>